<!DOCTYPE html>
<html lang="en">
    <head>
      {{>head}}
    </head>
  <body>
    {{>navbar}}

    <!--banner-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto d-flex">
          <div class="col-md-6 col-12 lhsSide">
            <p class="fs-3">Here is the weather app</p>
            <h1 class="weatherFont mt-1 mb-5">Get the latest <span class="weatherSpan">Weather</span> info of your City</h1>
            <a href="/weather"><button class="fs-4 weatherBtn">Check Now</button></a>
          </div>
          <div class="col-md-6 col-12 rhsSide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./images/bgImg2.png" class="d-block w-100" alt="./" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
  </body>
</html>
